
{% extends 'layout.html' %}
 
{% block content %} 
 
    <!-- Thumbnails -->
 
        <div class="large-8 columns">
		<br>
		<h3> Login</h3>
		<hr>
          <form method="post"  action="user/login" >
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Username:</label>
				      <input name= "name" type="text" placeholder="Username" />
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Password :</label>
				      <input name= "password" type="password" placeholder="Password" />
				    </div>
				  </div>
				   
				  <div class="row">
					<div class="large-4 medium-4 columns">
				      <input type="submit" value="Login" class="small radius button" />
					</div>
				  </div>
		 </form>		  
         </div>
 
    <!-- End Thumbnails -->
 
 
    {% endblock %}